.contact-me-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 30px;
  padding: 0 100px;
  min-height: 500px;

  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Roboto Condensed", sans-serif;
}
.contact-me-grid__text-container {
  width: 90%;
  margin: auto;
  color: #e5e5e5;
}
.contact-me-text {
  font-size: 45px;
  color: #ffffff;
}
.contact-me-grid__form-container {
  height: 90%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  padding: 10px 20px;

  color: rgba(0, 0, 0, 0.8);
}
.contact-me-grid__form-container input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.send-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-button {
  padding: 20px 100px;
  font-size: 20px;
  background-color: #ffc300;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
  transition: all 0.2s;
}
.send-button:hover {
  background-color: rgb(237, 181, 0);
}
.send-button:active {
  color: black;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 920px) {
  .contact-me-grid {
    padding: 0;
    padding-right: 50px;
  }
  .contact-me-text {
    font-size: 40px;
  }
  .contact-me-grid__text-container {
    width: 80%;
  }
}
@media screen and (max-width: 770px) {
  .contact-me-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 500px);
    row-gap: 50px;
    padding: 0 50px;
  }
  .contact-me-grid__text-container {
    width: 70%;
    margin: 0;
    justify-self: center;
  }
  .contact-me-text {
    font-size: 40px;
  }
}
@media screen and (max-width: 470px) {
  .contact-me-grid__text-container {
    width: 90%;
    margin: 0;
    justify-self: center;
  }
  .contact-me-grid {
    padding: 10px;
    row-gap: 0px;
  }
  .contact-me-text {
    font-size: 30px;
  }
}
