@font-face {
    font-family: "VT323";
    src: url(fonts/VT323-Regular.ttf);
    font-family: "Poppins";
    src: url(fonts/Poppins/Poppins-Regular.ttf);
    font-family: "Futura";
    src: url(fonts/futura/futura\ medium\ bt.ttf);
}

body{
    background: linear-gradient(90deg, #14213D,#000000);
    min-height: 100vh; 
    



    
    margin: 0;
    padding: 5px 10px;

    font-family: 'Amatic SC', cursive;
    

    /* font-weight: bolder;
    font-family: 'Courgette', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif; */

}
.background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    min-width: 100%;
    min-height: 100%;
    background-image: url(/rcs/images/stable-diffusion-xl\(1\).jpg);
    background-size: cover; 
    opacity: 0.3;
    filter: blur(5px);
}
.blurry-
p{
    font-family: 'Courgette', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    
}
